@charset "UTF-8";
/* Спрятать (не учавствует в геометрии), но все еще виден для читалок */
.form-textarea__textarea:focus + .form-textarea__label-placeholder,
.form-textarea__textarea:not(:placeholder-shown) + .form-textarea__label-placeholder, .form-policy__checkbox, .title-hidden, .subscribe__form-input:focus + .subscribe__form-label,
.subscribe__form-input:not(:placeholder-shown) + .subscribe__form-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list, .work-list, .team-list, .examples {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-policy, .form-policy__label, .advantages-list__box, .work-list__position-block, .team-list__social-block, .team-list__social-link, .clients-block__link, .social-block, .social-block__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* *for all page  */
body {
  font-family: Roboto, sans-serif;
}

h2,
h3 {
  color: #212121;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-title--mb {
  margin-bottom: 50px;
  margin-top: 0;
}

.header {
  border-bottom: 1px solid #ececec;
  background: #ffffff;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.logo__studio-black {
  color: #212121;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
  margin-right: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav__list-item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  /* Переход CSS */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

/* active page */
.nav__link--active {
  color: #2196f3;
  /* position (after) for active link*/
}

.nav__link--active:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: #2196f3;
}

.contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  /* для заполнeния svg */
  fill: #757575;
  /* Переход CSS */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:not(:last-child) {
  margin-right: 30px;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

/* Отступ SVG от ссылки */
.contacts__icon {
  margin-right: 10px;
}

.hero {
  text-align: center;
}

.hero-container {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/main-bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-bg.jpg");
  background-position: center;
}

.hero-container--size {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__open-btn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-color: transparent;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/* *modal window */
.backdrop {
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* При появлении backdrop, фон появляется плавно */
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--pos-size {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Чтобы модальное окно было выше других эллементов страницы */
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  /* чтобы пропадала подложка backdrop и под ним можно было что-то нажать */
  pointer-events: none;
  /* *При выключенном backdrop, свойства modal такие */
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

/* *Modal активное */
.modal {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--pos-size {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.modal__closed-btn {
  /* Position относительно .modal */
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.modal__closed-btn:hover .modal__closed-svg,
.modal__closed-btn:focus .modal__closed-svg {
  fill: #2196f3;
}

.modal__closed-svg {
  /* Position Позиционируем по центру относительно круга (.closed-btn)*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Form для модального окна */
.form-field__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

/* для первых трех input  */
.form-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-block--mb {
  margin-bottom: 10px;
}

/* для блока textarea */
.form-textarea {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-textarea--mb {
  margin-bottom: 20px;
}

.form-block__label,
.form-textarea__label-comment {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-block__input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  /* при фокусе на input (и при набраном тексте) происходит смена цвета рамки */
  /* при фокусе на input (и при набраном тексте) происходит смена цвета icon svg */
}

.form-block__input:focus, .form-block__input:not(:placeholder-shown) {
  outline: none;
  border-color: #2196f3;
}

.form-block__input:focus + .form-block__svg,
.form-block__input:not(:placeholder-shown) + .form-block__svg {
  fill: #2196f3;
}

.form-block__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  /* Чтобы можно было нажать поверх svg icon */
  pointer-events: none;
}

.form-textarea__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  /* Когда textarea в фокусе и набран текст (т.е. нет placeholder), то рамка становится синей  */
  /* Когда textarea в фокусе и набран текст (т.е. нет placeholder), label-placeholder исчезает */
}

.form-textarea__textarea:focus, .form-textarea__textarea:not(:placeholder-shown) {
  outline: none;
  border-color: #2196f3;
}

.form-textarea__label-placeholder {
  position: absolute;
  top: 32px;
  left: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Кастомный чекбокс */
.form-policy--mb {
  margin-bottom: 30px;
}

/* Скрываем стандартный чекбокс */
.form-policy__checkbox {
  /* Когда чекбокс в фокусе, или наведен Ховер, то кастомный чекбокс подсвечивается синей рамкой  */
  /* Когда кастомный чекбокс зачекан, то он с синей птичкой */
}

.form-policy__checkbox:focus + .form-policy__icon-check::before,
.form-policy__checkbox:hover + .form-policy__icon-check::before {
  border-color: #2196f3;
}

.form-policy__checkbox:checked + .form-policy__icon-check::before {
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  border-color: transparent;
  background-origin: border-box;
}

.form-policy__icon-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  /* Оформляем кастомный чекбокс */
}

.form-policy__icon-check::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy__contract-terms {
  color: #2196f3;
}

/* Кнопка отправки формы */
.btn-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.btn-send--size {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
}

.advantages--ptb {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*вдруг добавят еще разделов*/
}

.advantages-list__item {
  width: calc((100% - 90px) / 4);
}

.advantages-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.advantages-list__box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
}

.advantages-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.work--pb {
  padding-bottom: 94px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* если теоретически добавят еще картинок */
}

.work-list__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  /* дать всем эдементам правый маржин, кроме каждого кратного 3-м (3й, 6й, 9й) */
}

.work-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* *for position-block */
.work-list__position-block {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

/* *for position-text */
.work-list__position-text {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background: #f5f4fa;
}

.team--ptb {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-list__item {
  width: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-list__img {
  margin-bottom: 30px;
}

.team-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__social-block {
  list-style: none;
}

.team-list__social-link {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  /* Переходы CSS  */
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__social-link:not(:last-child) {
  margin-right: 10px;
}

.team-list__social-link:hover, .team-list__social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}

.clients--ptb {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-block__link {
  width: calc((100% - 150px) / 6);
  height: 90px;
  text-decoration: none;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  /* Переходы для hover / focus  */
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-block__link:not(:last-child) {
  margin-right: 30px;
}

.clients-block__link:hover, .clients-block__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.works--ptb {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.filter--mp {
  margin-top: 0;
  margin-bottom: 34px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.filter__list:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  border-color: transparent;
  /* Переходы CSS */
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples__list {
  /* Ширина элемента списка в % */
  width: calc((100% - 60px) / 3);
  background: #ffffff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* правый маржин для всех элементов списка, кроме каждого 3-го, 6-го, 9-го и тд */
  /* нижний маржин для всех элементов списка, кроме 3-х последних элементов списка*/
}

.examples__list:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples__list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.examples__list:hover, .examples__list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Прятающийся блок */
/* Относительно этого блока поиционируем .transormation-box */
.examples__position-box {
  position: relative;
  overflow: hidden;
}

.examples__transormation-box {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  height: 294px;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link {
  display: block;
  text-decoration: none;
  /* .transormation-box вылазит снизу при наведении на li */
}

.examples__link:hover .examples__transormation-box,
.examples__link:focus .examples__transormation-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples__position-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* *CLOSED прятающийся блок */
.examples__text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.examples__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples__text {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* !Футер */
.footer {
  background: #2f303a;
}

.footer--ptb {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address--box {
  margin-right: 70px;
}

.logo__studio-white {
  color: #ffffff;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address--box {
  margin-top: 20px;
}

.address__map {
  color: #ffffff;
}

.address__link {
  display: inline-block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-title--mb {
  margin-bottom: 20px;
}

.social-block {
  list-style: none;
}

.social-block__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  /* Переходы CSS  */
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-block__social-link:not(:last-child) {
  margin-right: 10px;
}

.social-block__social-link:hover, .social-block__social-link:focus {
  background: #2196f3;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.subscribe__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  width: 358px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2f303a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  /* Стили для активной фазы input */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* Когда input активен или исчез плейсхолдер - (label) надпись E-mail скрывается  */
}

.subscribe__form-label {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* Стили для надписи E-mail */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* Чтобы можно было нажать поверх form-label текста */
  pointer-events: none;
}

/* Кнопка отправки  */
.subscribe__form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscribe__svg {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */