.works--ptb {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-hidden {
  @extend %visually-hidden;
}

// Фильтры
.filter {
  list-style: none;

  // для телефона
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  // для планшета и ПК
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.filter--mp {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  // для телефона
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  // для планшета
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  // для ПК
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__list:not(:nth-last-child(-n + 2)) {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.filter__list:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: $bg-secondary-color;
  color: $primary-text-color;
  border-color: transparent;

  /* Переходы CSS */
  transition: background-color $transition-duration $transition-timing-formula,
    color $transition-duration $transition-timing-formula,
    border-color $transition-duration $transition-timing-formula,
    box-shadow $transition-duration $transition-timing-formula;

  &:hover,
  &:focus {
    background-color: $main-blue-color;
    color: $third-text-color;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
