.subscribe {
  display: flex;
  flex-direction: column;

  // Для телефона и планшета
  align-items: center;

  // для ПК
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-left: auto;
  }
}

// footer-title and footer-title--mb at _social.scss

.subscribe__form {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  // Не делал mobile-first разметку, чтобы проще было понимать разметку
  // для телефона
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  // для ПК
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.subscribe__form-input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: $bg-main-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  /* Стили для активной фазы input */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $subscribe-form-color;

  /* Когда input активен или исчез плейсхолдер - (label) надпись E-mail скрывается  */
  &:focus + .subscribe__form-label,
  &:not(:placeholder-shown) + .subscribe__form-label {
    @extend %visually-hidden;
  }

  // для телефона
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-bottom: 20px;

  // для планшета
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  // для ПК
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    width: 358px;

    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__form-label {
  /* Стили для надписи E-mail */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $subscribe-form-color;

  /* Чтобы можно было нажать поверх form-label текста */
  pointer-events: none;

  // для телефона и планшета
  position: absolute;
  top: 15px;
  left: 16px;

  // для ПК
  @media screen and (min-width: 1200px) {
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Кнопка отправки  */
.subscribe__form-btn {
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $third-text-color;

  background: $main-blue-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscribe__svg {
  margin-left: 10px;
}
