/* *for all page  */
body {
  font-family: $main-font-family;
}

h2,
h3 {
  color: $primary-text-color;
}

img {
  display: block;
}

// main container
// .container {
//   width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// .section-title for work / team / clients sections
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

// .section-title--mb for work / team / clients sections
.section-title--mb {
  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
