.header {
  border-bottom: 1px solid $border-header-color;
  background: $bg-third-color;
}

.header--ptb {
  // для телефона
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 111;

  // для планшета и ПК
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
  }
}

.header-flex {
  // для телефона
  display: flex;
  flex-direction: column;

  // для планшета и ПК
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
