.header {
  border-bottom: 1px solid $border-header-color;
  background: $bg-third-color;
}

.header-flex {
  // только для tabets и больше
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
