// Общий блок для nav+contacts
.header__logo-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.menu-button__close {
  display: none;
}

.menu-button.is-open {
  & .menu-button__open {
    display: none;
  }

  & .menu-button__close {
    display: block;
  }
}

.menu-button__svg {
  // для планшета и ПК
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// Не делал mobile-first разметку, чтобы проще было понимать разметку
.menu-container {
  transition: transform $transition-duration $transition-timing-formula,
    opacity $transition-duration $transition-timing-formula;

  // для телефона
  // Когда .menu-container неактивно, т.е. без .is-open, то выпадающее меню скрыто
  @media screen and (max-width: 767px) {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -65px);
    opacity: 0;

    z-index: -111;
    background: $bg-third-color;

    max-width: 480px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    pointer-events: none;
  }

  // Когда .menu-container активно, т.е. с .is-open, то выпадающее меню показано, но только в мобильной версии сайта
  // это окно видно только в мобильной версии. Если в мобильной версии его открыть и повернуть экран, то оно будет без лага исчезать.
  &.is-open {
    @media screen and (max-width: 767px) {
      position: absolute;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%, +100%);
      opacity: 1;

      background: $bg-third-color;

      max-width: 480px;
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;

      pointer-events: all;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
