// Общая обертка для Логотипа + Меню
.nav {
  // только для tabets и больше
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

// Логотип
.logo {
  font-family: $secondary-font-family;
  font-weight: 700;
  text-decoration: none;
  color: $main-blue-color;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: 1.17;

  // на ПК другие стили
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__studio-black {
  color: $primary-text-color;
}
// CLOSED Логотип

// Меню
.nav__list {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-left: 88px;

    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav__list-item {
  @media scree and (min-width: 480px) {
  }
}

.nav__list-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;
  text-decoration: none;
  /* Переход CSS */
  transition: color $transition-duration $transition-timing-formula;

  &:hover,
  &:focus {
    color: $main-blue-color;
  }
}

/* active page */
.nav__link--active {
  color: $main-blue-color;

  /* position (after) for active link*/
  &:after {
    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    content: '';
    height: 4px;
    width: 100%;

    border-radius: 2px;
    background: $main-blue-color;
  }
}
