.advantages--ptb {
  // Для телефона и планшета
  padding-top: 60px;
  padding-bottom: 60px;

  // Для ПК
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// Nothing to do
.title-hidden {
  @extend %visually-hidden;
}

.advantages-list {
  @extend %list-reset;

  // Для мобильного по умолчанию

  // Для планшета и ПК
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap; /*вдруг добавят еще разделов*/
  }
}

// Не делал mobile-first разметку, чтобы проще было понимать разметку
.advantages-list__item {
  // Для мобильного по умолчанию display: block;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // Для планшета
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  // Для ПК
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);

    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }
  }
}

//  Блок с SVG
.advantages-list__box {
  @extend %flex-center;

  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: $bg-secondary-color;

  // Для мобильного
  width: 450px;

  // Для планшета
  @media screen and (min-width: 768px) {
    width: 354px;
  }

  // Для ПК
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

// Nothing to do
.advantages-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

// Nothing to do
.advantages-list__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
