.advantages--ptb {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-hidden {
  @extend %visually-hidden;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap; /*вдруг добавят еще разделов*/
  @extend %list-reset;
}

.advantages-list__item {
  width: calc((100% - 90px) / 4);

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

//  Блок с SVG
.advantages-list__box {
  @extend %flex-center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: $bg-secondary-color;
}

.advantages-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
