.hero {
  text-align: center;
}

.hero-container {
  background-color: $bg-main-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // для мобильного
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/images-index/bg/mobile/bg-mobile@1x.jpg');

  // для мобильного плотность x2
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/images-index/bg/mobile/bg-mobile@2x.jpg');
  }

  // для планшета
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/images-index/bg/tablet/bg-tablet@1x.jpg');

    // для планшета плотность x2
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/images-index/bg/tablet/bg-tablet@2x.jpg');
    }
  }

  // для ПК
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/images-index/bg/pc/bg-pc@1x.jpg');

    // для ПК плотность x2
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/images-index/bg/pc/bg-pc@2x.jpg');
    }
  }
}

.hero-container--size {
  // для телефона
  max-width: 480px;
  height: 400px;
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;

  // для планшета
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
  }

  // для ПК
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $third-text-color;

  // для ПК
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__open-btn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-color: transparent;
  border-radius: 4px;

  background-color: $main-blue-color;
  color: $third-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}
