$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff;
$subscribe-form-color: rgba(255, 255, 255, 0.6);

$main-blue-color: #2196f3;
$second-blue-color: #188ce8;

$bg-main-color: #2f303a;
$bg-secondary-color: #f5f4fa;
$bg-third-color: #ffffff;
$bg-forth-color: #e5e5e5;
$bg-card-color: #ffffff;

$border-main-color: #eeeeee;
$border-header-color: #ececec;

$main-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;

$icon-main-color: #afb1b8;

$transition-timing-formula: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
